<div class="jumbotron">
  <h1 class="display-3">Hiya!</h1>
  <p class="lead">
    This is Only Connect For Pals, a site for creating your own quizzes in the style of Only Connect that you can use with your friends.</p>
  <hr class="m-y-2">
  <p>Here's how you get started.</p>
  <ol>
    <li>
      <%= link_to "Create an account or sign in", new_sign_in_path %>
    </li>
    <li>
      Click on the link in the email you receive
    </li>
    <li>
      Start creating an OC show
    </li>
  </ol>
</div>
