.form-group
  = f.label :name, "What should we call this OC?"
  = f.text_field :name, class: "form-control", placeholder: "For Jenny's Birthday"
.form-group.form-check
  = f.label :public, "Is this OC available to everyone?", class: "form-check-label"
  = f.check_box :public, class: "form-check-input"
