.puzzgrid-section
  %p
    %b Grid 1
    - if round_three_puzzgrid.grid_one.present?
      = link_to round_three_puzzgrid.grid_one
    - else
      You haven't entered one
  %p
    %b Grid 2
    - if round_three_puzzgrid.grid_two.present?
      = link_to round_three_puzzgrid.grid_two
    - else
      You haven't entered one
